# Игнорируем временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы операционной системы
.DS_Store
Thumbs.db

# Игнорируем логи и временные файлы
*.log
*.tmp

# Сохраняем JSON-файл с данными
# !movies.json
